.tree-customer {
    margin: 0 0 0 10em;
}

.tree-manager {
    margin: 0 0 0 20em;
}

.tree-senior {
    margin: 0 0 0 10em;
}

.tree-middle {
    margin: 0 0 0 10em;
}

.tree-junior {
    margin: 0 0 0 10em;
}